<!DOCTYPE html>
<html>
  <head>
    <title>Manage Inventory</title>
  </head>
  <body>
    <h1>Manage Inventory</h1>
    <a href="{% url 'add_book' %}">Add New Book</a>
    <ul>
      {% for book in books %}
      <li>
        {{ book.title }} by {{ book.author }} - ${{ book.price }} ({{
        book.quantity_in_stock }} in stock)
        <a href="{% url 'edit_book' book.id %}">Edit</a> |
        <a href="{% url 'delete_book' book.id %}">Delete</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
